body {
  color: black;
  background: #3b617f url(bg.png) repeat-x;
}
a, a:link, a:active, a:visited,
h1, h2, h3, h4, h5, h6 {
  color: #3b617f;
}
a img, a:link img, a:active img, a:visited img, a:hover img {
  border: none;
}
h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active,
h2 a, h2 a:link, h2 a:visited, h2 a:hover, h2 a:active,
h3 a, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active,
h4 a, h4 a:link, h4 a:visited, h4 a:hover, h4 a:active,
h5 a, h5 a:link, h5 a:visited, h5 a:hover, h5 a:active,
h6 a, h6 a:link, h6 a:visited, h6 a:hover, h6 a:active {
  color: #3b617f;
  border: none
}
#main .node .content a:visited {
  color: #999;
}
blockquote {
  border-left: 1em solid #eee;
}

#wrapper {
  background: #fff;
  border: 2px solid #ccc;
}

/*
*  Header
*/
#header {
  background: #193547;
  border: 1px solid #aaa;
  border-bottom: none;
}
#header h1 a {
  color: #fff;
}
#header .slogan {
  color: #fff;
} 
#header-additional, 
#header-additional h2, 
#header-additional h3, 
#header-additional h4, 
#header-additional h5, 
#header-additional h6, 
#header-additional a, 
#header-additional a:visited {
  color: #fff;
}
#search input {
  color: #fff;
  background: #354E5F;
  border: 1px solid #999;
}
#search input:focus {
  background: #3E5B6F;
}
#search input.form-submit {
  color: #fff;  
  background: #193547;
  border-width: 1px;
  border-style: solid;
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #333;
  border-bottom-color: #333;
}
#search input.form-submit:focus {
  border-top-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #666;
  border-bottom-color: #666;
}

/*
*  Menus
*/
.primary_menu {
  border-top: 1px solid #ddd;
  background: #fff url(bg1.png) bottom left repeat-x;
}
.primary_menu a,
.primary_menu a:link,
.primary_menu a:active,
.primary_menu a:visited {
  color: black;
  border-bottom: none;
}
.primary_menu  a:hover,
.primary_menu  a:focus {
  color: black;
  background: #D7D7D7;
}
.primary_menu  a.active:hover,
.primary_menu  a.active:focus {
  color: black;
}
#menu .secondary_menu {
  background: #ccc;
}
.secondary_menu a,
.secondary_menu a:link,
.secondary_menu a:active,
.secondary_menu a:visited {
  color: black;
  border-bottom: none;
}
.secondary_menu  a:hover,
.secondary_menu  a:focus {
  color: black;
  background: #e0e0e0;
}
.secondary_menu  a.active:hover,
.secondary_menu  a.active:focus {
  color: black;
}

/*
*  Sidebar
*/
.sidebar-left #main {
  border-left: 1px solid #ccc;
}
.sidebar-right #main {
  border-right: 1px solid #ccc;
}
.sidebars #main {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.sidebar {
  background: #fff;
}
#sidebar-right {
  border-left: 1px solid #ccc;
}
#sidebar-left {
  border-right: 1px solid #ccc;
}
/* Blocks */
.sidebar a,
.sidebar a:link,
.sidebar a:active,
.sidebar a:visited {
  color: #3b617f;
  border-bottom: none;
}
.sidebar a:hover,
.sidebar a:focus {
  border-bottom: 1px solid #999;
}

/*
*  Footer
*/
#footer {
  color: #999;
  border-top: 1px solid #ccc;
  background: #fff url(bg1.png) bottom left repeat-x;
}

/*
*  Content
*/
.node .links, .node .taxonomy, .node .meta {
  color: #999;
}
.node.teaser .calendar {
  background: #fff url(bg2.png) bottom repeat-x; 
}
.messages, .comment, .node.teaser .calendar {
  color: #999;  
  border: 1px solid;
  border-top-color: #f3f3f3;
  border-left-color: #f3f3f3;
  border-bottom-color: #ddd;
  border-right-color: #eee;
}
/* XXX: comment-node-author deprecated */
.comment-by-node-author, .comment-node-author {
  background: #fcfcfc ! important;
}
.messages, .comment {
  background: #f3f3f3;
}
.messages {
  color: #666;
}
.node.teaser .meta {
  background: transparent;
  border: none;
}
.node.teaser .calendar .time {
  color: #999;
}
.node.teaser .author {
  color: #999;
}
.book-navigation .menu {
  border: none;
}
.book-navigation .page-links {
  border: 1px solid #ccc;
}
.comment {
  color: #000;
}
.comment .id, .comment .id a, .comment .id a:link, .comment .id a:active, .comment .id a:visited {
  color: #ddd;
}
.comment .submitted, .comment .links {
  color: #999;
}
.comment .title a {
  color: black;
}
.new {
  color: red;
}
